/*Navbar*/
#barName{
	background-color: #4aaaa5;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:24px;
	color:#ffffff;
	text-align:middle;
	height:45px;
	margin-left:5%;
}

.personalMods{
	padding: 0 !important;
	background-color:#ffffff;
	border-bottom-style:solid;
	border-color:#cccccc;
	border-width:6px;
}

.barlink{
	padding:0 10px 0 10px !important;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size:16px;
	height:24px;
	text-align:middle;
}
.barlink:hover{
	text-decoration:underline !important;
	color:#666666;
}

#barAbout, #barPortfolio{
	border-right-style:solid;
	border-color:#666666;
	border-width:1px;
}

/*Main Body*/
main{
	border-style:solid;
	border-width:2px;
	background-color:#ffffff;
	border-color:#dddddd; 
	border-radius:10px;
	width:80%;
	max-width:960px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	border-color:#4aaaa5;
	border-bottom:solid;
	color: #4aaaa5;
}	

.profileBox{
	position:relative;
	max-width:500px;
	margin-right:20px;

}

.profilepic{
	padding: 0px 40px 20px 20px;
}

.bio{
	margin: 20px 20px 40px 20px;
}

.picBox{
	position:relative;
	max-width:100%;
	margin-bottom: 40px;
	margin-left:3rem;
	margin-right:3rem;
}

.piclimit{
	display:block;
	max-width: 100%;
}

.picLabel{
	position: absolute;
	bottom:30px;
	width:100%;
	max-width:100%;
	height:40px;
	text-align: center;
	line-height:40px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
	overflow:auto;
}  

footer{
	height:40px;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:16px;
	background-color:#666666;
	width: 100%;
	border-top-style:solid;
	border-width:3px;
	border-color: #4aaaa5;
	position:fixed;
	bottom:0;
}
	